<div class="responsive-bar">
  <div class="logo" (click)="scroll(landing)" style="cursor: pointer;">
    <img class="logo-image" [hidden]=black src="../assets/logowhite.png">
    <img class="logo-image" [hidden]=!black src="../assets/logo.png">
  </div>
  <div class="menuBurger">


    <button mat-button [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">


      <button mat-menu-item>
        <span class="menuText" (click)="scroll(onas)">O NÁS</span>
      </button>
      <button mat-menu-item>
        <span class="menuText" (click)="scroll(ktosme)">KTO SME</span>
      </button>
      <button mat-menu-item>
        <span class="menuText" (click)="scroll(kontakt)">KONTAKT</span>
      </button>
      

    </mat-menu>

  </div>
</div>
<nav class="nav">

  <div class="logo" (click)="scroll(landing)" style="cursor: pointer;">
    <img class="logo-image" [hidden]=black src="../assets/logowhite.png" alt="">
    <img class="logo-image" [hidden]=!black src="../assets/logo.png">
  </div>


  <ul>
    <li>
      <a  (click)="scroll(onas)">O nás</a>
    </li>

    <li>
      <a (click)="scroll(ktosme)">Kto sme</a>
    </li>

    <li>
      <a  (click)="scroll(kontakt)">Kontakt</a>
    </li>
  </ul>

</nav>



<main>
  <header class="landing" #landing>
    <h1 style="color: #ffffff;">
      Slovenská asociácia študentov a absolventov psychológie
    </h1>
    <div class="scrollbutton">
      <i class="fa fa-chevron-circle-down fa-3x pulse" (click)="scroll(onas)" style="cursor: pointer;"></i>
    </div>
  </header>
  <div class="about" #onas>


    <h1>Čo je to SAŠAP?</h1>
    <br>
    Slovenská asociácia študentov a absolventov psychológie (SAŠAP) je občianské združenie pôsobiace na území Slovenska
    už
    od roku 2009. Medzi jeho ciele patrí združovať študentov a absolventov študijného programu psychológia na
    jednotlivých
    univerzitách, za účelom vytvárania komunity na báze dobrovoľníctva, zápalu pre psychológiu, zodpovednosti,
    vzájomnosti
    a súdržnosti. Členovia združenia pod jeho vedením organizujú diskusie, prednášky, workshopy a podobné aktivity,
    ktorými sa snažia, pomocou svojich hostí a spoluorganizátorov, sprostredkovať psychologické poznatky študentom,
    záujemcom a širokej verejnosti, odbornej či neodbornej. SAŠAP taktiež patrí pod European Federation of Psychology
    Students´ Associations (EFPSA), ktorá mu sprostredkúva sociálne kampane a celoeurópske možnosti angažovania členov
    (trénerské programy, kongresy a konferencie, medzinárodné meetingy).
  </div>
  <br>

  <div class="kto-sme" #ktosme>

    <div class="nazov">
      <h1>Kto sme</h1>
    </div>


    <div class="grid-container">
      <div class="grid1">


        <div class="popis">
          <b>Bibiána Jozefiaková</b>
          <br>
          <span class="hodnost">Prezident SAŠAP</span>
        </div>

        <div>
          <img class="fotka" src="../assets/bibkaPO.jpg">
        </div>

        <div class="popis">
          Aktuálne som študentkou piateho ročníka na Prešovskej univerzite. SAŠAP ma sprevádza takmer
          celým vysokoškolským štúdiom a aj to sa zaslúžilo o moju stále trvajúcu lásku k psychológii. Vďaka
          SAŠAPu som mala možnosť rozvíjať svoje soft skills, za čo som nesmierne vďačná. Spoznala som veľa
          skvelých ľudí, ktorí majú rovnaké záujmy ako ja a vďaka ktorým sa nám stále darí živiť SAŠAP energiu
          na našich univerzitách.
        </div>

        <div class="siete">
          <a href="https://www.instagram.com/1bibka9/"style='text-decoration: none; color: rgba(0,0,0,.65)'> <i class="fab fa-instagram-square"></i> 1bibka9  </a>
          <br>
          <a href="mailto:prezident.sasap@gmail.com" style='text-decoration: none; color: rgba(0,0,0,.65)'> <i class="fas fa-envelope-square"></i> prezident.sasap@gmail.com</a>
        </div>
      </div>


      <div class="grid6">

        <div class="popis">

          <b>Andrea Pačnárová</b>
          <br>
          <span class="hodnost">vedúca pobočky SAŠAP Prešov</span>
        </div>
        <div>
          <img class="fotka" src="../assets/adkaPO.JPG">
        </div>
        <div class="popis">
          Som študentkou psychológie na Prešovskej univerzite a momentálne pôsobím ako vedúca
          pobočky v Prešove. Mojou úlohou v SAŠAPe je okrem vedenia pobočky aj usmerňovanie
          organizácie akcií - na ktorých sa podieľa celý tím, komunikácia s vedením SAŠAPu, s
          univerzitou, s hosťami a taktiež manažment členov. V SAŠAPe som momentálne druhý rok
          a mám na ňom rada jeho autenticitu, jedinečnosť a jeho princípy. A samozrejme skvelých
          ľudí, ktorým ďakujem nielen za spoluprácu, ale aj priateľstvo.
        </div>
        <div class="siete">
          <a href="https://www.instagram.com/sasap_po/"style='text-decoration: none; color: rgba(0,0,0,.65)'> <i class="fab fa-instagram-square"></i> sasap_po</a>
          <br>
          <a href="mailto:sasap.presov@gmail.com" style='text-decoration: none; color: rgba(0,0,0,.65)'><i class="fas fa-envelope-square"></i> sasap.presov@gmail.com </a>
        </div>
      </div>


      <div class="grid3">

        <div class="popis">

          <b>Eva Lörincová</b>
          <br>
          <span class="hodnost">Viceprezident pre externé záležitosti, vedúca pobočky SAŠAP Košice</span>
        </div>
        <div>
          <img class="fotka" src="../assets/evaKE.jpg">
        </div>
        <div class="popis">
          Študujem psychológiu a momentálne je mojou alma mater Univerzite Pavla Jozefa Šafárika v Košiciach. V SAŠAPe
          som od prvého ročníka, sprevádza ma celým mojim doterajším štúdiom. Spočiatku ako aktívny člen, no dnes ako
          vedúca pobočky manažujem mojich úžasných kolegov a spolu organizujem podujatia, ktoré ozaj stoja za to.
          Spolupracujeme s vedením univerzity a s početným množstvom študentských spolkov. Verím, že naše spoločné
          úsilie má zmysel na rozširovaní obzorov študentov a širokej verejnosti.
        </div>
        <div class="siete">
          <a href="https://www.instagram.com/sasap_ke/"style='text-decoration: none; color: rgba(0,0,0,.65)'> <i class="fab fa-instagram-square"></i> sasap_ke </a>
          <br>
          <a href="mailto:sasap.kosice@gmail.com" style='text-decoration: none; color: rgba(0,0,0,.65)'><i class="fas fa-envelope-square"></i> sasap.kosice@gmail.com </a>
          <br>
          <a href="mailto:viceprezident.sasap@gmail.com" style='text-decoration: none; color: rgba(0,0,0,.65)'><i class="fas fa-envelope-square"></i> viceprezident.sasap@gmail.com </a>
        </div>
      </div>

      <div class="grid4">

        <div class="popis">

          <b>Ľubica Paulisová</b>
          <br>
          <span class="hodnost">Member Representative of Slovakia in EFPSA</span>
        </div>
        <div>
          <img class="fotka" src="../assets/lubicaTT.jpg">
        </div>
        <div class="popis">
          Už štvrtý rok študujem na Univerzite sv. Cyrila a Metoda v Trnave odbor psychológia. V SAŠAPe som
          od nástupu na vysokú školu a momentálne zastávam pozíciu MR za Slovensko v EFPSA. Aktivity
          v SAŠAPe mi otvorili očká, našla som si veľa priateľov z každého kútu Slovenska a dostala som sa do
          EFPSA. Mojou úlohou je prepájať SAŠAP s EFPSA, vytvárať medzi nimi most, aby študenti na
          Slovensku mali informácie o psychologickom dianí v Európe. Tam som získala priateľstvá z celej
          Európy (sveta) a množstvo skúseností, ktoré využívam v každodennom osobnom i študentskom
          živote. Obe organizácie mi poskytli priestor tvoriť a byť tvorivou, komunikovať nie len materinskom
          a anglickom jazyku, ale i zodpovednosti.

          <br><br>
          <i>„The best moment is, when you find your best Slavic friend “</i>
        </div>

      </div>

      <div class="grid5">

        <div class="popis">

          <b>Simona Hrubá</b>
          <br>
          <span class="hodnost">vedúca pobočky SAŠAP Nitra</span>
        </div>
        <div>
          <img class="fotka" src="../assets/simaNR.jpg">
        </div>
        <div class="popis">
          Som študentkou Univerzity Konštantína Filozofa v Nitre, študijný program psychológia. V SAŠAPe
          pôsobím už štvrtý rok, z toho istú dobu ako vedúca nitrianskej pobočky. Na SAŠAPe zbožňujem
          predovšetkým to, ako spája študentov a ostatných nadšencov psychológie a to nielen lokálne, na
          danej univerzite, ale na celom Slovensku. Okrem získania mnohých priateľstiev v SAŠAPe, toto
          združenie precvičuje moje zručnosti v organizovaní zaujímavých eventov a umožňuje mi tráviť môj
          čas čo najzmysluplnejším spôsobom.

        </div>
        <div class="siete">
          <a href="https://www.instagram.com/sasap_nr/"style='text-decoration: none; color: rgba(0,0,0,.65)'> <i class="fab fa-instagram-square"></i> sasap_nr </a>
          <br>
          <a href="mailto:sasap.nitra@gmail.com" style='text-decoration: none; color: rgba(0,0,0,.65)'><i class="fas fa-envelope-square"></i> sasap.nitra@gmail.com </a>
        </div>
      </div>


      <div class="grid2">

        <div class="popis">

          <b>Jakub Mihňák</b>
          <br>
          <span class="hodnost">viceprezident pre interné záležitosti, vedúci pobočky SAŠAP Trnava</span>
        </div>
        <div>
          <img class="fotka" src="../assets/jakubTT.jpg">
        </div>
        <div class="popis">
          Som študentom Univerzity sv. Cyrila a Metoda v Trnave a vzdelávam sa v psychológii. Mojou úlohou v SAŠAPe je
          spravovať jeho členov a pomáhať im v organizovaní akcií. To či už na celom Slovensku, alebo len v Trnave. V
          SAŠAPe som už tretí rok a pomohol mi získať mnoho priateľov a skúseností, ktoré by som za iných okolností
          toľko nenazbieral.

        </div>
        
      </div>
    </div>

  </div>

  <div class="gallery">
    <crystal-gallery [images]="myImages" [config]="myConfig" class="gal"></crystal-gallery> 
  </div>

  <div class="kontakt" #kontakt>
    <div class="kontakt1">
      Slovenská asociácia študentov a absolventov psychológie
      <br>
      <a href="mailto:prezident.sasap@gmail.com" style='text-decoration: none; color: #aaaaaa'> Prezident <i class="fas fa-envelope-square"></i> prezident.sasap@gmail.com </a>
      <br>
      <a href="mailto:videprezident.sasap@gmail.com" style='text-decoration: none; color: #aaaaaa'>Viceprezident <i class="fas fa-envelope-square"></i> viceprezident.sasap@gmail.com</a>
    </div>
    <div class="kontakt2">
      IČO: 42139431
      <br> 
      DIČ: 2022898438
      <br>
      Sídlo: Odbojárov 10/A 82005 Bratislava - mestská časť Nové Mesto
    </div>
  </div>
 

</main>